<% include partials/head %>

<body>
    <div class="container">
        <p>Bravo, vous avez trouvé comment vous authentifier en tant qu'administrateur. Voici le flag : lh456regjduiz</p>
    </div>
</body>

<% include partials/footer %>