<% include partials/head %>

<body>
    <div class="container">
        <p>Bravo, vous avez trouvé comment exploiter la faille XSS du formulaire.</p>
        <p>Le flag pour valider le challenge est : masterzap.</p>
        <p>Vous pouvez maintenant vous amuser à exploiter la faille en cliquant sur ce <a href="/test">lien</a>. </p>
    </div>
</body>

<% include partials/footer %>